.font-bold {
  font-weight: 700;
}

.title {
  margin-top: 30px;
  color: #333;
  font-size: 12px;
}

.content {
  margin: 40px 0;
}

.red {
  color: green;
  transform: translate(0, 0);
}

.btn {
  margin-top: 20px;
  color: gold;
}
